body {
  background: #ddc;
}

input,
.expr {
  width: 100%;
  font-size: 20px;
  line-height: 1;
  font-family: monospace;
}

.expr {
  margin-top: 380px;
}

.expr-node {
  position: relative;
  border: 1px solid transparent;
  border-width: 0 2px;
}
.expr-node:hover {
  border: 2px solid white;
  border-radius: 6px / 1em;
  border-width: 0 2px;
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.expr-node > .bar {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
  box-shadow: 0 -2px 4px white;
  border-width: 1px 1px 0;
  border-radius: 3px 3px 0 0;
  background: rgba(0, 0, 127, 0.4);
}
.expr-node > .bar.negative {
  background: rgba(127, 0, 0, 0.4);
}
.expr-node:hover > .bar {
  background: rgba(0, 127, 0, 0.4);
}

.expr-func {
  color: #c06;
}
.expr-name,
.expr-literal {
  color: #096;
}
