body {
  background: #ddc;
}

.expr,
.expr-consts,
.expr-input {
  font-size: 20px;
  line-height: 1;
  font-family: monospace;
}

.expr,
.expr-input-expression {
  width: 100%;
}

.expr {
  margin-top: 240px;
}

.expr-input-const {
  width: 52px;
}
.expr-input-const.err {
  background: #fcc;
}

.expr-node {
  position: relative;
}
.expr-node:hover {
  border-radius: 6px / 1em;
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.expr-node > .bar {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-width: 1px 1px 0;
  border-radius: 3px 3px 0 0;
  background: rgba(0, 0, 127, 0.4);
}
.expr-node > .bar.negative {
  background: rgba(127, 0, 0, 0.4);
}
.expr-node:hover > .bar {
  background: rgba(0, 127, 0, 0.4);
}

.expr-func {
  color: #c06;
}
.expr-name,
.expr-literal {
  color: #096;
}
